<button class="js-get-location-btn btn">Get location</button>
<form action="/register" method="POST" class="location-form">
  <label for="latitude">latitude</label>
  <input type="text" name="latitude" class="js-latitude">
  <label for="longitude">longitude</label>
  <input type="text" name="longitude" class="js-longitude">
  <input type="submit" class="btn">
</form>
<br>
<h3>Locations</h3>
<div>
  <p>Registered locations: <%= locations.count %></p>
</div>
<script src="index.js"></script>
