<div>
  <a href="/">Home</a>
</div>

<div id='map' style='width: 100%; height: 300px;'></div>

<% locations.each do |location| %>
  <div
    class="js-location"
    data-latitude="<%= location.latitude %>"
    data-longitude="<%= location.longitude %>"
  ></div>
<% end %>

<script src="map.js"></script>
