* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navigation {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.btn {
  font-size: 20px;
}

.location-form {
  margin: 10px 0;
}

.dark-theme {
  background: black;
  color: white;
}
